# Node
node_modules/
npm-debug.log*
.npm

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Environment
.env
.env.local
.env.*.local

.files/
