# Node
node_modules/
.npm
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp

# Environment
.env*

# Next.js
.next/
out/
build/
.vercel
next-env.d.ts
*.tsbuildinfo

# Coverage
coverage/

# Misc
*.pem
.files/
